*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #00d2ff, #3a7bd5);
  padding: 10px;
}

.container{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 150px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 50px;
  /* box-shadow: 0 0 30px #606060; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  margin-bottom: 50px;
  font-size: 20px;
}
.header h2{
  color: #002765;
}
.header img {
  height: 37px;
  width: 42px;
  padding-left: 5px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px groove #000;
  outline-offset: 5px;
  border: none;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #5d5d5d;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
}
input::placeholder{
  color: #1e008d;
}
button {
  border: none;
  outline: none;
  padding: 10px 15px;
  background: #26062f;
  cursor: pointer;
  border-radius: 30px;
  margin: 1px;
}
.row img{
  background: #fff;
  border-radius: 40px;
}
ul li{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-block: 10px;
}

ul li::before{
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: url(icons8-circle-50.png);
  background-size: cover;
  position: center;
  top: 8px; 
  left: 8px; 
  
}
ul li.checked{
  background: #3700a4;
  color: #fff;
  border-radius: 50px;
  text-decoration: line-through;
}
ul li.checked::before{
  background: url(icons8-checkmark-64.png);
  background-color: #fff;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 3px solid #3386DA;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.2);
}

@keyframes example {
  0%   {border: 2px solid #ffffff;}
  25%  {border: 3px solid #ffe6e6;}
  50%  {border: 4px solid #8095ff;}
  100% {border: 5px solid #2600ff;}
}

ul li span{
  background: url(icons8-delete-48__1_-removebg-preview.png);
  background-size: cover;
  filter: contrast(1);
  position: absolute;
  top: 10px;
  right: 0px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
 }
 ul li span:hover{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: delete;
  animation-duration: 0.25s;
  border-left: 3px solid #f8f9f9;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.2);
 }
 @keyframes delete {
  0%   {border-left: 2px solid #ffffff;}
  25%  {border-left: 3px solid #ffe6e6;}
  50%  {border-left: 4px solid #8095ff;}
  100% {border-left: 5px solid #2600ff;}
}
